body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230720/pngtree-blue-and-purple-neon-star-3d-art-background-with-a-cool-image_3705286.jpg'); /* Replace 'background.jpg' with your actual image file path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app {
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  opacity: 0.9;
  background-color: rgb(52, 79, 90);
}

.score-section {
  text-align: center;
  padding: 20px;
  
}

.reload-quiz-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

.reload-quiz-button:hover {
  background-color: #45a049;
}

.question-section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.question-count {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
}

.question-text {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
}

.timer-section {
  font-size: 16px;
  color: #1d1818;
  font-weight: 700;
}

.answer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  height: 300px;
  width: 400px;
}

button {
  
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #886161;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
 
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.skip-button {
  background-color: #ae7a8f;
}

.skip-button:hover {
  background-color: #f9f7f3;
}
